.left-side {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px;
    top: 0px;
}

img {
    width: 450px;
    height: 100%;
    margin-left: 290px;
    
}

.right-header {
    display: flex;
    flex-flow: column;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    background-color: #F6F7F8;
    border: none;
    margin-left: 730px;
    width: 800px;
    margin-top: -10px;
    padding-block-end: 50px;
    
}

.right-header > h2 {
    font-size: 25px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 80px;
    padding-right: 25px;
}

h2 {
    margin-left: 50px;
}