* {
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

img {
    max-width: 25%;
    height: 938px;
    margin-left: 300px;
}

.right-header {
    display: flex;
    flex-flow: column;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    background-color: #F6F7F8;
    border: none;
    width: 825px;
    height: 100%;
    margin-right: auto;
}

.right-header > h2 {
    font-size: 25px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 80px;
    padding-right: 25px;
}

.secondH {
    margin-left: 50px;
}
 
.submit-form {
    margin-top: 40px;
    border: 2px solid rgb(250, 250, 250);
    height: 290px;
    background-color: white;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 6px;
    width: 250px;
    padding: 7px;
    font-size: 14px;
  }


.form-row {
    display: inline-block;
    margin: 5px;
    margin-left: 45px;  
}

label,input{
    display:flex;
    flex-direction:column;
  }

.dothis {
    margin-left: 45px;
}

.footer {
    height: 260px;
}