* {
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* background-image: url("https://rare-gallery.com/uploads/posts/500944-simple-background.jpg"); */
}

#leftImage {
    max-width: 40%;
    height: 938px;
    
}

.right-header {
    display: flex;
    flex-flow: column;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    background-color: #F6F7F8;
    border: none;

    height: 100%;
    margin-right: auto;
}

.right-header > h2 {
    font-size: 25px;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 80px;
    padding-right: 255px;
}

.secondH {
    margin-left: 50px;
}
 
.submit-form {
    margin-top: 40px;
    border: 2px solid rgb(250, 250, 250);
    height: 297px;
    background-color: white;
    box-shadow: 0 10px 10px -2px rgb(192, 189, 189);
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 6px;
    width: 270px;
    padding: 7px;
    font-size: 14px;
  }


.form-row {
    display: inline-block;
    margin: 5px;
    margin-left: 45px;  
    
}

label,input{
    display:flex;
    flex-direction:column;
    width: 370px;
    font-family: sans-serif;
  }

.dothis {
    margin-left: 45px;
}

.footer {
    margin-top: 60px;
    height: 278px;
    padding-top: 5%;
    background-color: #eeeeee50;
}

button, h5 {
    margin-left: 40px;
}

button {
    margin-top: -20px;
    padding: 15px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid rgb(218, 217, 217);
    background-color: #596D48;
    font-size: 20px;
    color: white;
}

h5 {
    font-size: 20px;
}

#odin {
    width: 100px;
    height: auto;
    
}

.odin-logo {
    display: flex;
    justify-content: center;
    position:absolute;
    margin-top: 200px;
    background-color: #00000038;
    width: 33.8%;
    margin-left: 0px;
    margin-right: -110px;
}

@media only screen and (max-width: 1450px) {
    body, .footer {
      background-color: lightblue;
    }
}

@media only screen and (max-width: 1669px) {
    .odin-logo {
        
        width: 39.5%;
        
        }
}

@media only screen and (min-width: 1980px) {
    .odin-logo {
        width: 37.7%;
        }
    #leftImage {
        height: 995.5px;
    }
}


@font-face {
    font-family: norseBold;
    src: url("Norse-Bold.otf") format("opentype");
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 90px;
    margin: 0px;
}

.form-row input:focus {
    outline: none;
    border:1px solid blue;
    box-shadow: 0 1px 7px -2px rgb(128, 128, 128);
}

a {
    text-decoration: none;
    color: #596D48;
}

footer {
    color: white;
    margin-left: -400px;
    margin-top: 270px;
}